body {
    padding: 0;
    margin: 0;
    background-image: url('img/dark_mosaic.png');
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    text-align: center;
    overflow: hidden;
}

#play, #stop {
    position: relative;
    top: -6px;
    left: -8px;
    height: 50px;
    width: 50px;
}

#speakers {
    position: relative;
    top: 0px;
    left: -10px;
    height: 65px;
    width: 50px;
}

#nav-bar {
    z-index: 1;
    line-height: 68px;
    font-size: 2em;
    position: relative;
    height: 68px;
    background-color: #2a292a;
}

#nav-bar-text {
    background-color: transparent;
    display: inline-block;
    text-shadow: 3px 3px #1dffa3;
}

@keyframes hover {
    from {
        right: -175px;
    }
    to {
        right: 0px;
    }
}

#nav-bar-content:hover {
transform: translate3d(-146px, 0px, 0px);
}

#nav-bar-content {
    padding-left: 0px;
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px);
    transition: transform .2s ease-in-out;
    position: absolute;
    right: -146px;
    top: 0;
    border: 1px solid cyan;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(61, 204, 168, 1);
    height: 66px;
    width: 200px;
}

#round-count-text {
    transform: rotate(-45deg);
    position: absolute;
    top: 130px;
    left: -300px;
    font-weight: lighter;
    box-shadow:
            inset 20px 5px 30px #49A68F,
            inset -20px 0 30px #4E998F;
    border-radius: 5px;
    padding: 5px;
    display: inline;
    background-color: #17d288;
    color: #ffffff;

}

button:focus {
    outline: none;
}

#quarter-slot {
    background-color: #000000;
    transform: rotate(-45deg);
    position: absolute;
    top: 134px;
    left: 101px;
    border: 2px solid #483f44;
    height: 55px;
    width: 2px;
}

#start-game {
    box-shadow:
            inset 20px 15px 20px #cc3e27,
            inset -20px 0 20px #ae1d08;
    padding-left: 10px;
    display: inline;
    text-align: center;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #ff0c1e;
    /*border-style: none;*/
    font-weight: lighter;
    border-color: #000000;
    width: 100px;
    transform: rotate(-45deg);
    position: absolute;
    top: 98px;
    left: 85px;
}

#start-game:active {
    background-color: #cd313c;
}

#play-box {
    border: 2px solid #1dffa3;
    position: relative;
    transform: rotate(45deg);
    margin: 160px auto;
    height: 250px;
    width: 250px;
}

.box {
    color: transparent;
    transform: rotate(-45deg);
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    background-color: #e9ffee;
    position: absolute;
    border: solid 3px #1dffa3;
    box-shadow:
            inset 70px 30px 100px #3DCCA8,
            inset -50px 0 100px #5a99ae;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#up {
    left: -100px;
    top: -100px;
}

#down {
    bottom: -100px;
    right: -100px;
}

#left {
    bottom: -100px;
    left: -100px;
}

#right {
    right: -100px;
    top: -100px;
}

@keyframes wrongflash {
    from {border: 2px solid #ffb11e;}
    to {border: 2px solid #ff1948;}
    from {background-color: rgba(255, 25, 72, 0.7);}
    to {background-color: transparent;}
}

.wrong {
    animation-name: wrongflash;
    animation-duration: .3s;
    -webkit-animation-iteration-count: 3;
}

@keyframes flash {
    from {color: #000000;}
    to {color: #ffffff;}
    from {border-color: #ffffff;}
    to {border-color: #1dffa3;}
    from {border-radius: 20%}
    to {border-radius: 50%}
    from {font-size: 1.4em;}
    to {font-size: 1.6em;}
}

.blink {
    animation-name: flash;
    animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
}

@keyframes repeat {
    from {background-color: rgba(255, 188, 30, 0.71);}
    to {background-color: transparent;}
    from {color: #ffffff;}
    to {color: transparent;}
    from {font-size: 1.4em;}
    to {font-size: 1.6em;}
}

.repeat {
animation-name: repeat;
    animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
}

@keyframes top {
    0%, 4%, 10%, 17%, 25%, 29%, 39%, 46%, 57%, 73%, 80%, 85%, 94%, 100% {
        opacity: 0;
    }
    2%, 5%, 12%, 18%, 28%, 33%, 45%, 50%, 61%, 75%, 81%, 91%, 95% {
        opacity: 1;
    }
}

.broken-up {
    animation-name: top;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes down {
    4%, 15%, 21%, 52%, 63%, 80%, 87%, 90%, 100% {
        opacity: 0;
    }
    10%, 17%, 27%, 53%, 71%, 85%, 88%, 94% {
        opacity: 1;
    }
}

.broken-down {
    animation-name: down;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes left {
    7%, 11%, 18%, 25%, 36%, 44%, 60%, 72%, 79%, 90%, 95%, 100% {
        opacity: 0;
    }
    10%, 15%, 24%, 30%, 42%, 45%, 66%, 76%, 84%, 92%, 99% {
        opacity: 1;
    }
}

.broken-left {
    animation-name: left;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes right {
    3%, 9%, 25%, 77%, 82%, 88%, 92%, 95%, 100% {
        opacity: 0;
    }
    7%, 14%, 45%, 80%, 83%, 91%, 93%, 97% {
        opacity: 1;
    }
}

.broken-right {
    animation-name: right;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#game-over {
    border-radius: 8px;
   position: absolute;
    top: -70px;
    left: 20%;
    z-index: 2;
    background-color: #ff3840;
    color: white;
    text-align: center;
    padding: 0 5px;
    font-size: 2em;
}

#try-again {
    text-align: center;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #ff3840;
    border-style: none;
    font-weight: lighter;
    cursor: pointer;
}
