body {
    background-image: url('img/dark_mosaic.png');
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    text-align: center;
    overflow: hidden;
}

button:focus {
    outline: none;
}

#start-game {
    display: inline;
    text-align: center;
    font-size: 1.3em;
    color: #ffffff;
    background-color: #ff3b49;
    border-radius: 10px;
    border-style: none;
    width: 100px;
    transform: rotate(-45deg);
    position: absolute;
    top: 95px;
    left: 85px;
}

#start-game:active {
    background-color: #cd313c;
}

#game-container {
    position: relative;
    transform: rotate(45deg);
    margin: 200px auto;
    height: 275px;
    width: 275px;
}

.box {
    border-style: outset;
    color: transparent;
    transform: rotate(-45deg);
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    background-color: aquamarine;
    position: absolute;
    border: 1px solid white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#up {
    left: -100px;
    top: -100px;
}

#down {
    bottom: -100px;
    right: -100px;
}

#left {
    bottom: -100px;
    left: -100px;
}

#right {
    right: -100px;
    top: -100px;
}

@keyframes flash {
    from {border: 2px solid #30df5c;}
    to {border: 1px solid #ffffff;}
    from {color: #000000;}
    to {color: #ffffff;}
    from {border-radius: 20%}
    to {border-radius: 50%}
    from {font-size: 1.5em;}
    to {font-size: 1.7em;}
}

.blink {
    animation-name: flash;
    animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
}

@keyframes correct {
    from {background-color: #ffffff;}
    to {background-color: transparent;}
    from {border: 1px solid #ff901f;}
    to {border: 1px solid white;}
}

.correct {
animation-name: correct;
    animation-duration: .2s;
    -webkit-animation-iteration-count: 1;
}

.wrong {

}