body {
    background-image: url('img/dark_mosaic.png');
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    text-align: center;
    overflow: hidden;
}

#round-count-text {
    font-weight: lighter;
    box-shadow:
            inset 20px 5px 30px #49A68F,
            inset -20px 0 30px #4E998F;
    border-radius: 15px;
    padding: 5px;
    display: inline;
    background-color: #28444D;
    color: #ffffff;

}

button:focus {
    outline: none;
}

#try-again {
    padding-left: 10px;
    display: inline;
    text-align: center;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #ff3b49;
    /*border-radius: 10px;*/
    border-style: none;
    width: 100px;
    transform: rotate(-45deg);
    position: absolute;
    top: 98px;
    left: 85px;
}

#quarter-slot {
    background-color: #000000;
    transform: rotate(-45deg);
    position: absolute;
    top: 134px;
    left: 101px;
    border: 2px solid #483f44;
    height: 55px;
    width: 2px;
}

#start-game {
    box-shadow:
            inset 20px 15px 20px #cc3e27,
            inset -20px 0 20px #ae1d08;
    padding-left: 10px;
    display: inline;
    text-align: center;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #ff0c1e;
    /*border-style: none;*/
    font-weight: lighter;
    border-color: #000000;
    width: 100px;
    transform: rotate(-45deg);
    position: absolute;
    top: 98px;
    left: 85px;
}

#start-game:active {
    background-color: #cd313c;
}

#game-container {
    border: 2px solid #1dffa3;
    position: relative;
    transform: rotate(45deg);
    margin: 200px auto;
    height: 275px;
    width: 275px;
}

.box {
    color: transparent;
    transform: rotate(-45deg);
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    background-color: #e9ffee;
    position: absolute;
    border: solid 3px #1dffa3;
    box-shadow:
            inset 70px 30px 100px #3DCCA8,
            inset -50px 0 100px #5a99ae;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#up {
    left: -100px;
    top: -100px;
}

#down {
    bottom: -100px;
    right: -100px;
}

#left {
    bottom: -100px;
    left: -100px;
}

#right {
    right: -100px;
    top: -100px;
}

@keyframes wrongflash {
    from {border: 2px solid #ffb11e;}
    to {border: 2px solid #ff1948;}
    from {background-color: rgba(255, 25, 72, 0.7);}
    to {background-color: transparent;}
}

.wrong {
    animation-name: wrongflash;
    animation-duration: .3s;
    -webkit-animation-iteration-count: 3;
}

@keyframes flash {
    from {color: #000000;}
    to {color: #ffffff;}
    from {border-radius: 20%}
    to {border-radius: 50%}
    from {font-size: 1.4em;}
    to {font-size: 1.6em;}
}

.blink {
    animation-name: flash;
    animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
}

@keyframes repeat {
    from {background-color: rgba(255, 188, 30, 0.71);}
    to {background-color: transparent;}
    from {color: #ffffff;}
    to {color: transparent;}
    from {font-size: 1.4em;}
    to {font-size: 1.6em;}
}

.repeat {
animation-name: repeat;
    animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
}

@keyframes broken {
    from {opacity: 1;}
    to {opacity: 0;}
}

.broken {
    animation-name: broken;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
}

@keyframes top {
from{
    left: -100px;
    top: -100px;
    opacity: 1;
    width: 200px;
}
to{
    left: -120px;
    top: -175px;
    opacity: 0;
    width: 100px;
    }
}

.broken-up {
    animation-name: top;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
}

@keyframes down {

}

.broken-down {
    animation-name: down;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
}

@keyframes left {

}

.broken-left {
    animation-name: left;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
}

@keyframes right {

}

.broken-right {
    animation-name: right;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
}